@CHARSET "UTF-8";

body {
	font-family: Verdana, Arial;
}

.text-error {
	color: #b94a48;
}

.content {
	text-indent: 2em;
	overflow: auto;
	padding: 20px;
}

.content p {
	word-wrap: break-word;
	font-size: 20px;
	line-height: 48px;
	overflow: hidden;
}

a, a:hover {
	text-decoration: none;
	text-transform: none;
}

.pagination {
	width: 100%;
	text-align: center
}

.pagination > ul > li.btn{
	padding:0;
}
.pagination ul li a{
	padding:9px 14px;
	display: inline-block;
}
